<div class="post-meta">
	<% if (post.categories && post.categories.length){ %>
	    <%- list_categories(post.categories, {
	      show_count: false,
	      class: 'article-category',
	      style: 'none',
	      separator: '►'
	    }) %>
	<% } %>&nbsp;&nbsp;&sdot;&nbsp;&nbsp;
	<i class="iconfont text-small">&#xe6f3;</i> ：<%- date(post.date, "YYYY-MM-DD") %>&nbsp;&nbsp;&sdot;&nbsp;&nbsp;
	<% if (post.tags && post.tags.length){ %>
		<i class="iconfont text-small">&#xe6c5;</i> ：
	  <%- list_tags(post.tags, {
	    show_count: false,
	  }) %>
	<% } %>
</div>
