<div class="copyright">
	Copyright &copy; <%- date(Date.now(), 'YYYY') %> . <%if(theme.icp){%><%- theme.icp%><%}%><br />Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>&nbsp;&nbsp;&sdot;&nbsp;&nbsp;Theme is <a href="https://github.com/praming/hexo-theme-Ice" target="_blank">Ice</a><%if(theme.coding_pages){%>&nbsp;&nbsp;&sdot;&nbsp;&nbsp;Hosted by <a href="https://pages.coding.me">Coding Pages</a><% } %>
</div>