.archive-main  {
  .archive-title {
    font-size: 1.6em;
    text-align: center;
    margin: 50px 0 20px 0;
  }
  .archive-meta {
  	font-size: 1.0em;
    color: #BABABA;
    text-align: center;
    margin-bottom: 10px;
  }
  .archive-content{
  	margin: 30px 0;



  }
}
#toc{
	z-index: 9999; 
    top: 150px;
    right: 20px;
    position:fixed;    
    width: 240px;  
}
.archive-toc{
	font-size: 1.2em;
	padding-left: 20px;
	border-left: 1px solid #1abca5;
}
.toc-child{
	margin-left: 1em;
} 
.toc-child a{
	color: #969896;
} 
.toc-child a:hover{
	color: #e04f5f;
} 