.link{
	
}
.link ul{
	list-style:none;
	overflow:hidden;
}
.link li{
	width:15%;
	float:left;
	padding:10px;
	border: 1px dashed #E6E6E6;
	margin-left:5%;
	
	background: #FBFBFB;
	display:block;
}
.link li:hover{
	background-color: #e04f5f;
	border: 1px dashed #e04f5f;
	-webkit-transition-duration:1s;
	transition-duration:1s;
}
.link li a{
	font-size: 0.875em;
	color: #969696;
	display:block;
}
.link li a:hover{
	color: #FFFFFF;
	-webkit-transition-duration:.4s;
	transition-duration:.4s;
}	