.notice {
    padding: 20px;
    border: 1px dashed #E6E6E6;
    color: #969696;
    position: relative;
    margin: 40px 20px 20px 20px;
    background: #FBFBFB;
}
.notice i {
    float: left;
    margin-right: 10px;
    color: #A0DAD0;
}
.notice-content {
    display: inline-block;
}