.post {
  padding: 20px 20px;
}
.posts  {
  .post:first-child {
    margin-top: 0;
  }
  .post-title {
    font-size: 1.2em;
  }
  .post-meta {
  	margin-top: 0.875em;
  	font-size: 0.875em;
    color: #BABABA;
  }
  .post-meta ul{
  	display: inline-block;
  }
  .post-meta ul li{
  	display: inline-block;
  	margin: 0 5px;
  }  
  .article-category-link{
    	color: #e04f5f;
    }
}
.page-nav{
	 text-align: center;
}
